.mapaDiv path {
    fill: khaki;
    stroke: sandybrown;
    stroke-width: 2px;
  }

  .mapaDiv path.llegamos {
    fill: rgb(206, 199, 135);
    stroke: sandybrown;
    stroke-width: 2px;
  }
  .mapaDiv path.llegamos:hover {
    fill: rgb(143, 135, 64); 
    cursor: pointer;
  }

details, summary {
  color: #fff;
}
  details { 
width: 80%;
margin: 0 auto ;
background: #9f1a2a;
margin-bottom: .5rem;
box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
border-radius: 5px;
overflow: hidden;
}

summary {
padding: 1rem;
display: block;
background: #751521;
padding-left: 2.2rem;
position: relative;
cursor: pointer;
user-select: none;
}
summary:hover { 
background: #991b2a; 
}

summary:before {
content: '';
border-width: .4rem;
border-style: solid;
border-color: transparent transparent transparent #fff;
position: absolute;
top: 1.3rem;
left: 1rem;
transform: rotate(0);
transform-origin: .2rem 50%;
transition: .25s transform ease;
}

details[open] > summary:before {
transform: rotate(90deg);
}


details summary::-webkit-details-marker {
display:none;
}

details > ul {
  padding-top: 1rem;
padding-bottom: 1rem;
margin-bottom: 0;
}

.mapsBody { 
    height: 100vh;  
    line-height: 1.5;
    letter-spacing: 1px;
    margin-top: 2rem;
  }