@mixin respond-to($media) {
    @if $media == 'phone' {
      @media screen and (max-width: 500px) {
        @content;
      }
    } @else if $media == 'small-phone' {
      @media screen and (max-width: 450px) {
        @content;
      }
    }
  }
   